In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\joshd\Downloads\HoC-GE2024-results-by-candidate.csv",
               usecols=['ONSID','Constituencyname','Partyname','Partyabbreviation','Share','Countryname'])
df.head(5)

,ONSID,Constituencyname,Countryname,Partyname,Partyabbreviation,Share
0,W07000081,Aberafan Maesteg,Wales,Heritage Party,HPUK,0.005118
1,W07000081,Aberafan Maesteg,Wales,Independent,Ind,0.017284
2,W07000081,Aberafan Maesteg,Wales,Liberal Democrat,LD,0.025619
3,W07000081,Aberafan Maesteg,Wales,Green,Green,0.030597
4,W07000081,Aberafan Maesteg,Wales,Conservative,Con,0.081191

In [3]:
df=df.loc[df.Countryname.isin(['Wales','England']) & df.Partyabbreviation.isin(['WPB','Ind'])]
df.head(5)

,ONSID,Constituencyname,Countryname,Partyname,Partyabbreviation,Share
1,W07000081,Aberafan Maesteg,Wales,Independent,Ind,0.017284
57,E14001065,Altrincham and Sale West,England,Workers Party of Britain,WPB,0.012497
63,W07000082,Alyn and Deeside,Wales,Independent,Ind,0.036297
114,E14001070,Ashton-under-Lyne,England,Workers Party of Britain,WPB,0.079947
119,E14001071,Aylesbury,England,Workers Party of Britain,WPB,0.010332

In [4]:
df=df.groupby(["ONSID","Constituencyname","Countryname"]).Share.sum()
df.head(6)

ONSID      Constituencyname          Countryname
E14001065  Altrincham and Sale West  England        0.012497
E14001070  Ashton-under-Lyne         England        0.079947
E14001071  Aylesbury                 England        0.010332
E14001072  Banbury                   England        0.017643
E14001073  Barking                   England        0.118732
E14001074  Barnsley North            England        0.016696
Name: Share, dtype: float64

In [6]:
df.to_csv(r"C:\Users\joshd\Downloads\CombinedVoteshare-new")